

.text-white-contacto:hover {
  color: #feb41c;
}

.text-white-contacto {
  color: #fff;
}

.lead {
  text-align: justify;
}

.nav-menu {
  font-size: 40px;
}

/*
TODO: Unificar estos estilos y ordenar todo
*/
p {
    font-size: 16px;
    line-height: 24px;
}

.bg-secondary-1 {
    background-color: #464646 !important;
}

.overlay:before {
    background-color: #7A1A12;
}

.text-primary2 {
    color: #000000;
}